body {
  background-image: url(../images/bg_makeup50.png);
  background-repeat: repeat;

}

.main-content {
   background-color: #fff;
   padding: 1em;
}

.product-title, .product-title a {
  font-size: 1.2em;
  color: #ee6e73;
}

