* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
}

body {
  background-image: url(../images/bg_makeup50.png);
  background-repeat: repeat;

}

.main-content {
   background-color: #fff;
   padding: 3em;
}

.product-title, .product-title a {
  font-size: 1.2em;
  color: #ee6e73;
}

.logo {
  width: 50%;
}

.slider {
  font-family: 'Amatic SC', cursive;
}

.slider h3 {
  color: black;
  background-color: #FADEC8;
  border-radius: 5px;
  display: inline;
  padding: 5px;
}

.tabs {
  background-color: black;
}

.main-content {
  background-color: transparent;
}

.item-container h2 {
  text-align: center;
}
